.timer {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    margin: 0;
    font-size: 60px;
    color: white;
  }
  &__main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__count {
    align-items: center;
    color: #21868d;
    display: flex;
    font-size: 100px;
    margin: 26px 0;
  }
  &__input {
    display: flex;
    justify-content: center;
    width: 100%;

    &-min,
    &-sec {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input {
      background: transparent;
      border-radius: 4px;
      border: 1px solid #919191;
      color: #21868d;
      font-size: 100px;
      margin: 0 10px;
      padding: 12px;
      text-align: center;
      width: 180px;
    }
  }

  &__action {
    margin-top: 40px;
    &-cancel,
    &-start,
    &-pause {
      border-radius: 4px;
      display: inline-block;
      font-size: 20px;
      font-weight: 600;
      height: 50px;
      padding: 0 25px;
      text-transform: uppercase;
      transition: 0.2s;
    }

    &-cancel {
      background-color: transparent;
      border: 2px solid #21868d;
      color: #21868d;
      margin: 0 7px;

      &:hover {
        color: #151515;
        background-color: #21868d;
        border: 2px solid #21868d;
      }
    }
    &-start {
      color: #151515;
      background-color: #f37954;
      border: 2px solid #f37954;

      &:hover {
        background-color: transparent;
        border: 2px solid #f37954;
        color: #f37954;
      }
    }
    &-pause {
      color: #151515;
      background-color: #21868d;
      border: 2px solid #21868d;
      margin: 0 7px;

      &:hover {
        background-color: transparent;
        border: 2px solid #21868d;
        color: #21868d;
      }
    }
  }

  &__statistics {
    align-items: center;
    display: flex;
    font-size: 18px;
    height: 60px;
  }
}
