.timer {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    margin: 0;
    font-size: 40px;
    color: #363636;
  }
  &__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }
  &__count {
    text-align: center;
    h1 {
      margin: 0;
      font-size: 100px;
      color: #21868d;
    }
  }
  &__startTime {
  }
  &__input {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;

    &-min,
    &-sec {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input {
      padding: 12px;
      font-size: 100px;
      color: #363636;
      border-radius: 4px;
      border: 1px solid #919191;
      width: 180px;
    }
    input:last-child {
      margin-left: 20px;
    }
  }

  &__action {
    margin: 40px 0;
    &-cancel,
    &-start,
    &-pause {
      border-radius: 4px;
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      padding: 8px 26px;
      text-transform: uppercase;
      transition: 0.2s;
    }

    &-cancel {
      margin-right: 14px;
      background-color: white;
      border: 2px solid #21868d;
      color: #21868d;

      &:hover {
        color: white;
        background-color: #21868d;
        border: 2px solid #21868d;
      }
    }
    &-start {
      margin-right: 14px;
      color: white;
      background-color: #f37954;
      border: 2px solid #f37954;

      &:hover {
        background-color: white;
        border: 2px solid #f37954;
        color: #f37954;
      }
    }
    &-pause {
      color: white;
      background-color: #21868d;
      border: 2px solid #21868d;

      &:hover {
        background-color: white;
        border: 2px solid #21868d;
        color: #21868d;
      }
    }
  }
  &__statistics {
  }

  &__table {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;

    thead,
    tbody {
      width: 100%;
    }
    thead {
      border-top: 1px solid #21868d;
      border-bottom: 1px solid #21868d;
    }
    tr {
      width: 100%;
      display: flex;
      align-items: center;
    }

    th,
    td {
      width: 20%;
      padding: 10px 20px;
      text-align: center;
    }
  }
}
